<h1> hello world of angular {{title}}<h1>
  <h2 class="h1">app-login</h2>
  <app-login></app-login>
  <app-login2></app-login2>
  <button (click)="getName('animesh')">Submit</button>
  <input type="text" placeholder="keyup" #box (keyup)="getData(box.value)"  />
  <input type="text" placeholder="keyup" #tox (focus)="getData1(tox.value)"  />
  <br />
  <input tyep="text" #box1  placeholder="namePlaceholder"  />
  <br />  
  <button (click)="getNameP(box1.placeholder)">GetName</button>  <!-- box1.value for value of the input-->
  <p>{{displayVal}}<p>
    <button (click)="counter('add')">+</button>
      <button (click)="counter('subtract')">-</button>
        <p>{{number}}</p>
  